In [2]:
%matplotlib inline
import pandas as pd

In [ ]:
# from IPython.core.display import HTML
# css = open('style-table.css').read() + open('style-notebook.css').read()
# HTML('<style>{}</style>'.format(css))

In [4]:
titles = pd.read_csv('data/titles.csv') 
titles.head()

                             title  year
0                   The Rising Son  1990
1  Justin Bieber: Always Believing  2012
2          The Thousand Plane Raid  1969
3                 Crucea de piatra  1993
4                           The 86  2015

In [6]:
cast = pd.read_csv('data/cast.csv')
cast.head()

                               title  year       name   type character     n
0                    Suuri illusioni  1985     Homo $  actor    Guests  22.0
1     Gangsta Rap: The Glockumentary  2007  Too $hort  actor   Himself   NaN
2                  Menace II Society  1993  Too $hort  actor   Lew-Loc  27.0
3  Porndogs: The Adventures of Sadie  2009  Too $hort  actor     Bosco   3.0
4                 Stop Pepper Palmer  2014  Too $hort  actor   Himself   NaN

### How many movies are listed in the titles dataframe?

In [7]:
len(titles)

210591

### What are the earliest two films listed in the titles dataframe?

In [8]:
titles.sort_values('year').head(2)

                                                    title  year
161037                                         Miss Jerry  1894
83650   Reproduction of the Corbett and Fitzsimmons Fight  1897

### How many movies have the title "Hamlet"?

In [9]:
titles[titles.title == 'Hamlet'].count()

title    19
year     19
dtype: int64

### How many movies are titled "North by Northwest"?

In [10]:
len(titles[titles.title == 'North by Northwest'])

1

### When was the first movie titled "Hamlet" made?

In [18]:
titles[titles.title == 'Hamlet'].sort_values('year').iloc[0,1]

1910

### List all of the "Treasure Island" movies from earliest to most recent.

In [19]:
titles[titles.title == 'Treasure Island'].sort_values('year')

                  title  year
186595  Treasure Island  1918
46520   Treasure Island  1920
188082  Treasure Island  1934
88003   Treasure Island  1950
207718  Treasure Island  1972
101151  Treasure Island  1973
186007  Treasure Island  1985
162493  Treasure Island  1999

### How many movies were made in the year 1950?

In [21]:
len(titles[titles.year == 1950])

1033

### How many movies were made in the year 1960?

In [22]:
len(titles[titles.year == 1960])

1425

### How many movies were made from 1950 through 1959?

In [24]:
len(titles[(titles.year >= 1950) & (titles.year <= 1959)])

11999

### In what years has a movie titled "Batman" been released?

In [26]:
titles[titles.title == 'Batman']

        title  year
50840  Batman  1989
67790  Batman  1943

### How many roles were there in the movie "Inception"?

In [28]:
len(cast[cast.title == 'Inception'])

72

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [30]:
len(cast[(cast.title == 'Inception') & (cast.n.isnull())])

21

### But how many roles in the movie "Inception" did receive an "n" value?

In [32]:
len(cast[(cast.title == 'Inception') & (cast.n.notnull())])

51

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [34]:
cast[(cast.title == 'North by Northwest') & (cast.n.notnull())].sort_values('n')

                      title  year  ...                    character     n
761632   North by Northwest  1959  ...           Roger O. Thornhill   1.0
3035210  North by Northwest  1959  ...                  Eve Kendall   2.0
1273151  North by Northwest  1959  ...              Phillip Vandamm   3.0
2732528  North by Northwest  1959  ...              Clara Thornhill   4.0
310396   North by Northwest  1959  ...                The Professor   5.0
2642915  North by Northwest  1959  ...                Mrs. Townsend   6.0
1482025  North by Northwest  1959  ...              Lester Townsend   7.0
1113449  North by Northwest  1959  ...                      Leonard   8.0
2134183  North by Northwest  1959  ...                     Valerian   9.0
1582592  North by Northwest  1959  ...              Victor Larrabee  10.0
581681   North by Northwest  1959  ...                        Licht  11.0
2002099  North by Northwest  1959  ...                   Auctioneer  12.0
404851   North by Northwest  1959  ...                    Dr. Cross  13.0
1318859  North by Northwest  1959  ...               Sergeant Flamm  14.0
178004   North by Northwest  1959  ...               Captain Junket  15.0
1209686  North by Northwest  1959  ...  Charley - Chicago Policeman  16.0

[16 rows x 6 columns]

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [37]:
cast[(cast.title == 'Sleuth') & (cast.year == 1972)].sort_values('n')

          title  year  ...                   character    n
1490656  Sleuth  1972  ...                 Andrew Wyke  1.0
283951   Sleuth  1972  ...                 Milo Tindle  2.0
325572   Sleuth  1972  ...           Inspector Doppler  3.0
1280329  Sleuth  1972  ...  Detective Sergeant Tarrant  4.0
2369265  Sleuth  1972  ...             Marguerite Wyke  5.0
1265904  Sleuth  1972  ...      Police Constable Higgs  6.0

[6 rows x 6 columns]

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [38]:
cast[(cast.title == 'Sleuth') & (cast.year == 2007)].sort_values('n')

          title  year                 name     type          character    n
283952   Sleuth  2007        Michael Caine    actor             Andrew  1.0
1129671  Sleuth  2007             Jude Law    actor               Milo  2.0
1577911  Sleuth  2007        Harold Pinter    actor        Man on T.V.  3.0
225057   Sleuth  2007      Kenneth Branagh    actor  Other Man on T.V.  NaN
325573   Sleuth  2007  Alec (II) Cawthorne    actor  Inspector Doppler  NaN
2369264  Sleuth  2007    Eve (II) Channing  actress    Marguerite Wyke  NaN
2911769  Sleuth  2007    Carmel O'Sullivan  actress             Maggie  NaN

### How many roles were credited in the silent 1921 version of Hamlet?

In [39]:
len(cast[(cast.title == 'Hamlet') & (cast.year == 1921)])

9

### How many roles were credited in Branaghs 1996 Hamlet?

In [40]:
len(cast[(cast.title == 'Hamlet') & (cast.year == 1996)])

55

### How many "Hamlet" roles have been listed in all film credits through history?

In [41]:
len(cast[cast.character == 'Hamlet'])

81

### How many people have played an "Ophelia"?

In [43]:
len(cast[cast.character == 'Ophelia'].name.unique())

93

### How many people have played a role called "The Dude"?

In [44]:
len(cast[cast.character == 'The Dude'].name.unique())

16

### How many people have played a role called "The Stranger"?

In [45]:
len(cast[cast.character == 'The Stranger'].name.unique())

180

### How many roles has Sidney Poitier played throughout his career?

In [46]:
len(cast[cast.name == 'Sidney Poitier'])

43

### How many roles has Judi Dench played?

In [47]:
len(cast[cast.name == 'Judi Dench'])

51

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [48]:
cast[(cast.name == 'Cary Grant') & (cast.n == 2) & ((cast.year >= 1940) &(cast.year <= 1949))].sort_values('year')

                   title  year        name   type    character    n
761629  My Favorite Wife  1940  Cary Grant  actor         Nick  2.0
761639    Penny Serenade  1941  Cary Grant  actor  Roger Adams  2.0

### List the leading roles that Cary Grant played in the 1940s in order by year.

In [49]:
cast[(cast.name == 'Cary Grant') & (cast.n == 1) & ((cast.year >= 1940) &(cast.year <= 1949))].sort_values('year')

                                       title  year  ...              character    n
761654               The Howards of Virginia  1940  ...            Matt Howard  1.0
761611                       His Girl Friday  1940  ...           Walter Burns  1.0
761656                The Philadelphia Story  1940  ...     C. K. Dexter Haven  1.0
761644                             Suspicion  1941  ...                Johnnie  1.0
761658                  The Talk of the Town  1942  ...           Leopold Dilg  1.0
761635                 Once Upon a Honeymoon  1942  ...  Patrick 'Pat' O'Toole  1.0
761602                     Destination Tokyo  1943  ...          Capt. Cassidy  1.0
761627                             Mr. Lucky  1943  ...              Joe Adams  1.0
761628                             Mr. Lucky  1943  ...        Joe Bascopolous  1.0
761636                      Once Upon a Time  1944  ...            Jerry Flynn  1.0
761594                  Arsenic and Old Lace  1944  ...      Mortimer Brewster  1.0
761631             None But the Lonely Heart  1944  ...             Ernie Mott  1.0
761630                         Night and Day  1946  ...            Cole Porter  1.0
761633                             Notorious  1946  ...                 Devlin  1.0
761650      The Bachelor and the Bobby-Soxer  1947  ...                   Dick  1.0
761651                     The Bishop's Wife  1947  ...                 Dudley  1.0
761626  Mr. Blandings Builds His Dream House  1948  ...          Jim Blandings  1.0
761606          Every Girl Should Be Married  1948  ...      Dr. Madison Brown  1.0
761615                I Was a Male War Bride  1949  ...    Capt. Henri Rochard  1.0

[19 rows x 6 columns]

### How many roles were available for actors in the 1950s?

In [50]:
len(cast[(cast.type == 'actor') & ((cast.year >= 1950) & (cast.year <= 1959))])

146724

### How many roles were available for actresses in the 1950s?

In [51]:
len(cast[(cast.type == 'actress') & ((cast.year >= 1950) & (cast.year <= 1959))])

53587

### How many leading roles (n=1) were available from the beginning of film history through 1980?

In [52]:
len(cast[(cast.n == 1) & (cast.year <= 1980)])

61108

### How many non-leading roles were available through from the beginning of film history through 1980?

In [53]:
len(cast[(cast.n != 1) & (cast.year <= 1980)])

1040314

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [54]:
len(cast[(cast.n.isnull()) & (cast.year <= 1980)])

411194